*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;

}
.effect-loading-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.effect-loading-container .ring{
    position:relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 3s linear infinite;
}

.effect-loading-container .ring::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0 20px #24ecff,
    0 0 50px #24ecff;

}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.effect-loading-container .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    /* top: initial; */
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #93ff2d;
    box-shadow: 0 0 0 5px #7ee62f8a,
    0 0 0 10px #93ff2d22,
    0 0 0 20px #93ff2d11,
    0 0 20px #93ff2d,
    0 0 50px #93ff2d;

}
.effect-loading-container .ring:nth-child(2){
   animation: animate2 3s linear infinite;
   animation-delay: 1s;
   border-left: 4px solid transparent;
   border-top: 4px solid #93ff2d;
}
@keyframes animate2 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.effect-loading-container .ring:nth-child(3){
    animation: animate2 3s linear infinite;
    animation-delay: 3s;
    position: absolute ;
    top :-66.66px;
    border-left: 4px solid transparent;
    border-top: 4px solid #ff572d;
}
.effect-loading-container .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #ff572d;
    box-shadow: 0 0 0 5px #e69a2f8a,
    0 0 0 10px #ff572d22,
    0 0 0 20px #ff572d11,
    0 0 20px #ff572d,
    0 0 50px #ff572d;

}


.effect-loading-container p{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: consolas;
    bottom: -80px;
    letter-spacing: 0.15em;
}